*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#anim{
    max-width: 600px;
    margin: 0 auto;
}

#anim2{
    max-width: 200px;
    margin: 0 auto;
}

body{
    background: #dde4f3;
}

header{
    height: 100px;
}
/*MODIFICACIONES QUE ESTOY HACIENDO AL MENU*/
.container_menu{
    width: 100%;
    height: auto;
    background-color: #211A31;
    padding: 0px 20px;
}

.contenedor_header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo_principal {
    width: 350px;
    font-size: 40px;
    font-weight: bold;
}
.titulo_principal a{
    text-decoration: none;
    color: #dde4f3;
    transition: color 300ms;
}
.titulo_principal a:hover{
    color: #90A8CF;
}
/* MENU */

/*MODIFICACIONES QUE ESTOY HACIENDO PARA EL MENU*/

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding-left: 50px;
}

.nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #dde4f3;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #90A8CF;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

nav > ul > li:first-child > a {
    font-size: 50px;
    text-decoration: none;
    font-weight: 1000;
}

/* SUBMENU */
nav ul li ul li a{
    text-decoration: none;
}
nav ul li ul{
    margin-top: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #dde4f3;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
visibility: visible;
opacity: 1;
top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white ;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul a{
    display: block;
    color: #211A31;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform:uppercase;
    transition: all 300ms ease;
}

nav ul li ul a:hover{
    background: #0A008F;
    color: #dde4f3;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.5);
}

#icon_menu { /* ICONO MENU RESP */
    display: none;
    padding-top: 35px;
}

/* CONTENIDO DE LA PAGINA*/

.btn_contactanos {
    margin-top: 20px;
    padding: 14px 50px;
    border: none;
    background: #211A31;
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: background, color, 300ms;
}
.btn_contactanos:hover{
    background: #CCC6C7;
    color: #211A31;
}

main {
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.informacion_texto_contenido {
    width: 50%;
    padding-top: 100px;
}

.informacion_texto_contenido h1{
    font-size: 100px;
}
.informacion_texto_contenido p{
    font-size: 30px;
    margin-top: 20px;
}

/* CONTENIDO SOBRE NOSOTROS*/
.contenido_banner {
    margin-top: 80px;
}

.banner {
    height: 250px;
    display: flex;
    align-items: center;
    background: #211A31;
    position: relative;
}

.banner_nosotros-icono{
    width: 35%;
    height: 100%;
}
#icon_nosotros {
    width: 400px;
    margin-top: -10px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner_texto_realizamos {
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner_texto_realizamos h3 {
    color: #90A8CF;
    font-size: 32px;
    font-weight: 4000;
}

.banner_texto_realizamos p {
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.banner_texto_realizamos a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: #CCC6C7;
    font-size: 18px;
    font-weight: bold;
    transition: color 300ms;
}
.banner_texto_realizamos a:hover{
    color: #90A8CF;
}


/* SEGMENTO RESPONSIVE */
@media (max-width: 1024px){
    .contenedor_header,
    main {
        padding: 20px;
    }
    
    #icon_menu { /* ICONO MENU RESP*/
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;     
        top: 70px;
        overflow: hidden;
        z-index: 10; /*Muestra encima de todo el contenido*/
        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #90A8CF; 
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu {/*CLASE MANIPULADA POR JS*/
        height: auto;
    }

    /*CONTENIDO SOBRE NOSOTROS*/
    .informacion_texto_contenido h1{
        font-size: 40px;
    }
    .informacion_texto_contenido p{
        font-size: 16px;
    }
    .banner_texto_realizamos h3{
        font-size: 22px;
    }
    .banner_texto_realizamos p{
        font-size: 14px;
    }
    .masinfo a{
        font-size: 12px;
    }
    /* CONTENIDO MULTIMEDIA SOBRE NOSOTROS */
    #icon_nosotros {
        left: -80px;
        padding: 0 60px; /* -----  prueba*/
        width: 400px;
    }

}

/* SEGMENTO RESPONSIVE 2*/
@media (max-width: 720px){
    .informacion_texto_contenido{
        width: 100%;
    }
    #anim {
        height: auto;
    }

    .banner{
        height: auto;
        flex-wrap: wrap;
    }

    #icon_nostros{
        left: 0;
    }
    .banner_texto_realizamos{
        width: 100%;
        margin-top: -100px;
    }


}

/* SECCION 2 LO QUE TE OFRECEMOS*/
.contenido_seccion2{
    max-width: 1200px;
    padding-top: 100px;
}

.contenedor_tarjetas{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
}

/* animacion de tarjetas */
.card:hover{
    width: 350px;
    height: 300px; /*posible*/
    transition: all 300ms;
}

.card .cabecera{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cabecera img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgb(0,0,0,0.5));
    transition: all 300ms;
}

.card:hover .cabecera img{
    top: 0px;
    filter: none;
}

.card .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img_back{
    background-image: url(../media/fondo_1.jpg) ;
}
.card:nth-of-type(2) .img_back{
    background-image: url(../media/fondo_2.jpg) ;
}
.card:nth-of-type(3) .img_back{
    background-image: url(../media/fondo_3.jpg) ;
}

.card:hover .img_back{
    bottom: -40px ;
}

/* DESCRIPCION TARJETAS */
.card .descripcion{
    background: #CCC6C7;
    margin-top: -10px;
    padding: 20px;
    height: 350px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .descripcion{
    padding: 40px;
    /* transition: all 100ms; */
}

.card .descripcion #sub{
    font-weight: 1000;
}
.card .descripcion h2{
    margin-top: 10px;
}

.card .descripcion input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background:#90A8CF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}
.card .descripcion input:hover{
    background-color: #211A31;
    color: #dde4f3;
}

/*Boton para ir arriba*/
#button_up{
    width: 60px;
    height: 60px;
    background: #0A008F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}

#button_up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}


/* FOOTER */
footer{
    width: 100%;
    padding: 50px 0px;
    background: #211A31;
    background-image: url(../media/background-footer.svg);
    background-size: cover;
}

.contenedor_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box_footer .logo a{
    text-decoration: none;
    width: 180px;
    font-size: 40px;
    font-weight: 1000;
    color: #211A31;
}
.box_footer .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #5E627C;
    font-size: 18px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #211A31;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: #5E627C;
    font-weight: 600;
    text-decoration: none;
}
.box_footer a:hover{
    opacity: 0.8;
}

.box_footer a #fabicon {
    font-size: 40px;
}

.box_copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box_copyright {
    margin-top: 20px;
}
.box_copyright p{
    margin-top: 20px;
    color: #5E627C;
}
.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #211A31;
}

.contenido_seccion3 {
    max-width: 1200px;
    padding-top: 100px;
}

/* CLIENTES CARTAS*/
.contenedor_card{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_father{
    margin: 20px;
    perspective: 1000px;
    /* -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0,0,0,0.1)); */
}

.card_father:hover .card_2{
    transform: rotateY(180deg);
}

.card_2{
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_front, .card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_back {
    transform: rotateY(180deg);
    background: #909CBA;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dde4f3;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back p{
    margin-top: 70px;
    font-size: 20px;
}

/* MAPA & CONTACTANOS */

.contenido_seccion4{
    max-width: 1200px;
    padding-top: 100px;
}
.contact_in{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #5E627C;
    box-shadow: 0px 0px 10px 0px #211A31;
    padding-bottom: 40px;
}

.contact_map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact_map iframe{
    width: 100%;
    height: 100%;
}

.contact_formulario {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 20px;
}

.contact_formulario #btn_especialista{
    width: 100%;
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: #211A31;
    background: #90A8CF;
    box-shadow: 1px 1px 30px -5px #90A8CF;
    border-radius: 10px;
    transition: box-shadow 1s;
}

.contact_formulario #btn_especialista:hover{
    box-shadow: 1px 1px 30px 0px #211A31;
}

.contact_formulario h3{
    margin-bottom: 10px;
    color: #dde4f3;
    padding-top: 20px;
}

.contact_formulario p{
    margin-bottom: 10px;
    color: #dde4f3;
    padding-top: 20px;
}

.contact_form_text{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #dde4f3;
    /* border-radius: 50px; */
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact_form_text::placeholder{
    color: #bcbcbc;
}

.contact_form_textarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    /* border-radius: 50px; */
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact_form_textarea::placeholder{
    color: #bcbcbc;
}

.contact_form_btn{
    width: 100%;
    border: none;
    outline: none;
    background: #211A31;
    color: #dde4f3;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

/* TECNOLOGIAS QUE UTILIZAMOS */
.contenido_seccion1{
    max-width: 1200px;
    padding-top: 100px;
}

.contenedor_cards_tecnologias{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 200%;
    margin-top: 40px;
}

.card_3{
    width: 200px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(253, 253, 253, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.card_3 #salesforce{
    width: 120px;
    padding-left: 30px;
}

.cover_card{
    width: 150%;
    height: 60px;
    border-radius: 1px;
    overflow: hidden;
}
.cover_card img{
    width: 70%;
}

/*BARRA LATERAL DE REDES SOCIALES*/
.container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
}

.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
}
.container-bar .fa-linkedin{
	background: #0074B0;
}
.container-bar .fa-twitter{
	background: #00acee;
}
.container-bar .fa-instagram{
	background: #E9884E;
}
.container-bar .fa-whatsapp{
	background: #1BD741;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 20px;
	margin-bottom: 10px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}


/*PAGINA 'SOBRE NOSOTROS'*/


.banner_contenedor{
    max-width: 1200px;
    padding-top: 100px;
    margin: auto;
    margin-top: 40px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner_title h2{
    color: #211A31;
    padding-top: 130px;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title p{
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
}

.banner_img_nosotros img{
    width: 500px;
    display: block;
}
.banner_img_nosotros {
    animation: movimientos 3s linear infinite;
}

/* ANIMACION CIRCULOS BACKGROUND*/
.circulo{
    border-radius: 50%;
    background: #3b5998;
    opacity: 0.3;

    position: absolute;
    bottom: -150;

    animation: circulos 3s linear infinite;
}

.circulo:nth-child(1){
    width: 20px;
    height: 20px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.circulo:nth-child(2){
    width: 10px;
    height: 10px;
    left: 13%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.circulo:nth-child(3){
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 9s;
    animation-delay: 6s;
}

.circulo:nth-child(4){
    width: 50px;
    height: 50px;
    left: 55%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.circulo:nth-child(5){
    width: 50px;
    height: 50px;
    left: 34%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.circulo:nth-child(6){
    width: 50px;
    height: 50px;
    left: 77%;
    animation-duration: 6s;
    animation-delay: 4s;
}

.circulo:nth-child(7){
    width: 20px;
    height: 20px;
    left: 65%;
    animation-duration: 9s;
    animation-delay: 4s;
}

.circulo:nth-child(8){
    width: 20px;
    height: 20px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.circulo:nth-child(9){
    width: 10px;
    height: 10px;
    left: 87%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.circulo:nth-child(10){
    width: 20px;
    height: 20px;
    left: 66%;
    animation-duration: 9s;
    animation-delay: 6s;
}

.circulo:nth-child(11){
    width: 50px;
    height: 50px;
    left: 79%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.circulo:nth-child(12){
    width: 50px;
    height: 50px;
    left: 92%;
    animation-duration: 4s;
    animation-delay: 2s;
}


@keyframes circulos{
    0%{
        bottom:0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: 0.4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimientos{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
}